.column20{
	width:19%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column25{
	width:24%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column30{
	width:29%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column33{
	width:32%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column40{
	width:39%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column50{
	width:49%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column60{
	width:59%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column66{
	width:66%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column75{
	width:74%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column80{
	width:79%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.column100{
	width:99%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.left{
	width:19%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.right{
	width:79%;
	margin-right:0.5%;
	background:#fff;
	float:left;
}
.footer{
	background:#fff;
	margin:auto; width:90px;
}
.placeholder{
	background: #f0f0f0;
	border:1px dashed #ddd;
}

.dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.dragbox-content{
	min-height:100px; margin:5px;
}

.dragbox h2{
	margin:0;
	font-size:12px;
	padding:5px;
	background:#f0f0f0;
	color:#000;
	border-bottom:1px solid #eee;
	font-family:Verdana;
	cursor:move;
}

.dragbox h2.collapse{
	background:#f0f0f0 url('../img/visual/collapse.png') no-repeat top right;
}
.dragbox h2 .configure{
	font-size:15px; font-weight:normal;
	margin-right:30px; float:right;
}
li{ list-style:none;}
li a{cursor: pointer; float:left; width:60px;}
li h1{font-size:12px; margin:0 atuo; font-weight:normal; text-align:center; width:56px;}
